  /*#board{
    width:920px;
    height:920px;
    margin: 0 auto;
  }
  #board div{
    width:300px;
    height:300px;
    float:left;
    border:1px solid #ff8a00;
  }
  #board span{
    font-size:300%;
    width:98px;
    height:98px;
    float:left; 
    display:block;
    border:1px solid white;
    text-align:center;  
    line-height:99px;
    background-color:#f2f2f2;      
  }
  #board span:hover{
    background-color:#0d2f5a;
    color:white; 
  }*/

body {
  background-color: lightgrey;
}
.main-container {
  width: 500px;
  background: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
}
.column {
  padding: 1px;
  float: left;
}
.box {
    width: 150px;
    height: 150px;
    float: left; 
    text-align: center;  
    background-color: #f2f2f2;
    border: 2px solid lightgrey;

    /*width:200px;
    height:200px;
    float:left;
    border:1px solid #ff8a00*/;
/*  padding: 3px;
  background-color:#f2f2f2;      
  width: 100px;
  height: 100px;*/
}

.box:hover {
  background-color: #0d2f5a;
  color: #FFF;
}

/*.box {
  padding: 3px;
  border: 2px solid #D3D3D3;
  background-color: #FFF;
  width: 200px;
  height:200px;
}
*/

.p1Class {
  background-color: #5A0D54;
}

.p2Class {
  background-color: #0D5A12;
}


h5.reflect_1 {
    color: #666;
    border-bottom: 6px solid #444;
    line-height: 0.2em;
    margin: 0px;
    padding: 0px 0px 0px 10px;
    font-size: 24px;
}

h5.reflect_2 {
    color: #AAA;
    margin: 0px;
    line-height: 0.6em;
    border-top: 1px solid #EEE;
    padding: 0px 0px 0px 10px;
    font-size: 24px;
}
